@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #a0bba7;
  --secondary-color: #9ac299;
  --accent1-color: #a9884c;
  --accent2-color: #6e633d;
}

/*
About our Dogs
*/
header {
  background-color: #a0bba7;
  padding: 25px 50px;
  margin-top: 100px;
  background-color: #7fb87d99;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header p {
  font-size: 1.2em;
  text-align: left;
  color: #d9c2a3;
}

header p a:hover {
  text-decoration: underline;
}

#background {
  height: 100px;

}

.home-title {
  background-color: #6e633d;
  margin-top: 10px;
  font-family: 'Akaya Telivigala', 'Helvitica, sans-serif';

}


#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a:hover {
  background-color: #9ac299;
  text-align: center;
  text-decoration: none;
  background-color: black;
  padding: 35px;
}

nav a:hover {
  background-color: #9ac299;
  color: black;
}

#hero-img {
  width: 100%;


}

nav a {
  text-align: center;
  color: #011606;
  text-decoration: none;
  font-size: 2.0em;
  
}

body {
  background-color: #6e633d;
  font-family: 'Akaya Telivigala', 'Helvitica, sans-serif';
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: black;

}

.logo {
  width: 150px;
  padding-top: 5px;
}


footer p {
  font-size: 1.2em;
  text-align: left;
  color: #9ac299;
}

footer p a:hover {
  text-decoration: underline;
}

footer {
  background-color: #a0bba7;
  padding: 25px 50px;
  margin-top: 200px;
  background-color: #7fb87d99;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social img {
  padding: 15px;
}


/* 
  Tips and Tricks
*/

body {
  background-color: #6e633d;
  font-family: 'Akaya Telivigala', 'Helvitica, sans-serif';
  font-size: 22px;
  margin: 0;
  padding: 0;
  color: black;

}

.home-right-img-1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
  display: block;
  margin: 0 auto;

  grid-column: 2/5;
  grid-row: 1;
  margin-top: 0em;
  padding: 0px 45px;
  text-align: right;
  justify-self: center;
  
}


.home-headline-1 {
  grid-column: 2/5;
  grid-row: 1;
  margin-top: 5em;
  padding: 0px 45px;
  text-align: right;
  justify-self: center;
}

.home-right-img-2 {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0px 45px;
  text-align: right;
  justify-self: center;
  
}

.home-right-img-2 {
  grid-column: 7/12;
  grid-row: 1;
  margin-top: 0em;
  height: 350px;
  padding: 0px 45px;
  text-align: left;
  justify-self: center;
  
}

.home-headline-2 {
  grid-column: 7/12;
  grid-row: 2;
  margin-top: 5em;
  padding: 0px 45px;
  justify-self: center;
}


.home-right-img-3 {
  grid-column: 7/12;
  grid-row: 3;
  margin-top: 0em;
  align-items: center;
  padding: 0px 45px;
  text-align: center;
  justify-self: center;
  
}

.home-headline-3 {
  grid-column: 2/5;
  text-align: center;
  margin: 70px 0;
  display: block;
  margin: 0 auto;
}


/* 
  Feedback
*/

label {
  font-family: 'Akaya Telivigala', 'Helvitica, sans-serif';
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: #6e633d;
  position: absolute;
  left: 1rem;
  margin: 20px 20px;
  padding: 7px;
  cursor: text;
}

.feedback-grid {
  grid-column: 3/11;
  grid-row: 4;
  margin-bottom: 70px;
  justify-self: center;

}

form {

  display: grid;
  margin: 15px;
  justify-self: center;
  position: relative;
}

.form-control {
  margin: 15px;
  cursor: text;
  transition: all 0.5s;
}


input,
textarea {
  font-family: 'Akaya Telivigala', 'Helvitica, sans-serif';
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #6e633da7;
  border-radius: 4px;
  padding: 20px 30px 20px 90px;
  align-self: center;
  background: none;
  outline: none;
  background-color: white;
}

textarea {
  vertical-align: top;
  height: 8em;
  padding: 50px 25px;


}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: transparent;


}

input:hover,
textarea:hover {
  border-color: #a0bba7;
  background-color: white;
}

input:focus,
textarea:focus {
  border-color: black;
  background-color: white;
  outline: none;
}

.wrap {
  text-align: center;
  grid-row: 7;
}

.button {
  font-family: 'Akaya Telivigala', 'Helvitica, sans-serif';
  font-size: 1.5em;
  padding: 15px 60px;
  grid-column: 2;
  grid-row: 7;
  background-color: #7fb87d99;
  border-radius: 7px;
  border: none;
  color: black;
}

.button:hover {
  background-color: white;
  color: #a0bba7;
  border-radius: 10px;
  padding: 15px 60px;
}

.moveDown {
  margin-top: 3em;
}